html, body {
    height: 100%;
}

body {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    background-image: linear-gradient(180deg, rgba(137, 87, 156, 0.53) 0%, rgba(46, 52, 115, 0) 100%);
    /* background: rgb(137,87,156);
    background: linear-gradient(180deg, rgba(137,87,156,1) 0%, rgba(46,52,115,1) 100%); */
}

h1 {
    font-size: 2em;
}

.d-flex {
    display: flex;
}

.container {
    height: 100%;
    width: 90%;
    margin: 2em auto;
    flex-direction: row;
}

.click-hud {
    flex-direction: column;
    flex: 1 1;
}

.click-main {
    flex: 1 2;
    justify-content: center;
    /* align-items: center; */
}

.score {
    height: 20%;
    align-items: center;
}

.status {
    height: 20%;
    align-items: baseline;
}

.upgrades {
    height: 20%;
    align-items: center;
}

.button {
    color: #fff;
    background-color:rgb(224, 43, 50);
    border-radius: 100%;
    margin: 1em;
    font-family: 'Press Start 2P', cursive;
    border: 1px solid black;
}

button:focus {
    outline: 0px;
}

button:active {
    background-color: rgba(224, 43, 50, 0.8);
}

.clicker {
    margin-top: 5em;
    width: 200px;
    height: 200px;
}

.bonus {
    width: 100px;
    height: 100px;
}

.status-image {
    margin-left: 2em;
    width: 62px;
    height: 100px;
    animation: underBlink 1s infinite;
    position: relative;
}

.dude {
    bottom: 0px;
    left: 4px;
    position: absolute;
}

.sword {
    position: absolute;
}

.hidden {
    display: none;
}

@keyframes underBlink {
    0%   { border-bottom: 6px solid rgba(0, 0, 0, 0.1); }
    50% { border-bottom: 6px solid rgba(0, 0, 0, 1); }
    100%   { border-bottom: 6px solid rgba(0, 0, 0, 0.1); }
}

.status-text {
    
}

#score {
    animation: underBlink 1s infinite;
}